<!DOCTYPE html>
<html lang="en" class="<%= cookies[:theme] || 'light' %>">
  <head>
    <title>Vishesh Purohit | Fullstack Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <%= yield %>
  </body>
</html>